
.cs-wrapper{
	height: 450px;
	background-color: transparent;
	overflow-y: hidden;
	transition: height 600ms;
	margin-bottom: 100px;
}

.cs-wrapper2{
	height: 450px;
	background-color: transparent;
	overflow-y: hidden;
	transition: height 600ms;
	margin-bottom: 100px;
}

.cs-wrapper3{
	height: 450px;
	background-color: transparent;
	overflow-y: hidden;
	transition: height 600ms;
	margin-bottom: 100px;
}

.box p{
	width: 50%;
}
.box2 p{
	width: 50%;
}
.box3 p{
	width: 50%;
}

.box{
	border: solid black 1px;
}
.box2{
	border: solid black 1px;
}
.box3{
	border: solid black 1px;
}

.cs-head{
	font-size: 60px;
	width:60%;
	padding-left: 70px;
	opacity: 1;
	transition: 2.5s;
}
.cs-head2{
	font-size: 60px;
	width:60%;
	padding-left: 70px;
	opacity: 1;
	transition: 2.5s;
}
.cs-head3{
	font-size: 60px;
	width:60%;
	padding-left: 70px;
	opacity: 1;
	transition: 2.5s;
}

.cs-btn{
	border-radius: 60%;
	padding: 20px;
	font-size: 35px;
	background-color: transparent;
	color: white;
	width: 70px;
	float: right;
	opacity: 1;
	transition: 2.5s;
}
.cs-btn2{
	border-radius: 60%;
	padding: 20px;
	font-size: 35px;
	background-color: transparent;
	color: white;
	width: 70px;
	float: right;
	opacity: 1;
	transition: 2.5s;
}
.cs-btn3{
	border-radius: 60%;
	padding: 20px;
	font-size: 35px;
	background-color: transparent;
	color: white;
	width: 70px;
	float: right;
	opacity: 1;
	transition: 2.5s;
}


.cs-video{
	width: 100%;
	display: none;
	transition: 2.5s;
}
.cs-video2{
	width: 100%;
	display: none;
	transition: 2.5s;
}
.cs-video3{
	width: 100%;
	display: none;
	transition: 2.5s;
}

.cs-para{
	padding-left: 70px;
	opacity: 1;
	transition: 2.5s;
}
.cs-para2{
	padding-left: 70px;
	opacity: 1;
	transition: 2.5s;
}
.cs-para3{
	padding-left: 70px;
	opacity: 1;
	transition: 2.5s;
}



.cs-btn-div{
	margin-top: -150px;
	margin-right: 360px;
}

.widen{
	height: 100vh;
	transition: 600ms;
}

.show-video{
		display: block;
}

.fade-text{
	opacity: 0;
	transition: 600ms;
}


/*// ===============*/

