:root {
  --darkblue: #006a5a;
  --darkgreen: #00473d;
  --lightblue: #bce4f9;
  --peach: #dccaaf;
  --brown: #79625d;

}

*{
	padding: 0;
	margin: 0;
}


html {
	box-sizing: border-box;
/*	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
	Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";*/
	font-family: 'Interstate', sans-serif;
	font-size: 1em;
	color: var(--peach);
}

a{ 
	color: inherit; 
	text-decoration: none;
}

a:hover{
	color: var(--blue);
}


img {
    width: 100%;
    height: auto;
}

ul{
	list-style-type: none;
	margin: 0;
    padding: 0;
}

body{
	background-color: var(--darkgreen);
	margin: 0px;
}




/**/

.menu ul{
	display: flex;
	justify-content:space-around;
	background-color: var(--darkblue);
	padding: 20px;
}

.menu li{
	display: inline;
	color: var(--peach);
}

footer{
	background-color: var(--brown);
	font-size: 1.2em;
}

.sqs-block-content .summary-block-wrapper{
	margin: 10px;
}

a .sqs-block-button-element--medium {
	border: solid red 1px;
}

a .sqs-block-button-element{
		border: solid red 1px;
}

.sqs-block-button-container--center:first-child{
	font-family: 'Interstate'
}





/**/























