.top-wrapper{
	border: solid red 1px;
}

.top-grid{
	display: grid;
	/*grid-template-columns: e('1fr 1fr 1fr 1fr'); Hacky Solution*/
	grid-template-columns: auto;
}

#top{
}


.sqs-block-image .design-layout-poster .image-title p{
	font-family: 'Interstate';
}

.image-subtitle p{
	font-family: 'Interstate';
}

/**/
.blog-wrapper{
	padding: 20px;
	margin-bottom: 70px;
	margin-top: 70px;
	padding-left: 40px;
	background-repeat: no-repeat;

}


.blog-left{

}

.btn-grid{
	display: grid;
	grid-template-columns: 50px 50px 50px 50px 50px 50px;
}

.btn-grid button{
	background-color: black;
	border: none;
	width: 200px;
	border: solid 1px white;
}

.btn-grid button:hover{
	background-color: white;
	border: solid 1px black;
	color: black;
}



.blog-title{
	font-size: 2em;
	margin-top: 0px;
}

.blog-button{

}
.blog-video{
	padding: 10px;
	padding-right: 50px;
	display: flex;
	justify-content: center;
	width: 100%;
	min-width: 200px;
	max-height: 300px;
}

.blog-grid{
	display: grid;
	grid-template-columns: minmax(400px, 600px) minmax(400px, 635px);
	grid-template-rows: auto;
	grid-gap: 10px;
}

/**/

.reel-heading{
	display: flex;
	justify-content: center;
}

.reel-heading p{
	font-size: 2.5em;
}

.reel-div{
	min-width: 400px;
	padding: 55px 60px;
}

.blog-wrapper-div{
	padding: 55px 50px;
}

.about-p{
	padding-top: 0px;
	padding-right: 100px;
	padding-left: 55px;
	padding-top: 50px;
	padding-bottom: 50px;
}

.about-grid{
	padding-right: 100px;
	padding-left: 55px;
	padding-top: 50px;
	padding-bottom: 50px;
}

.about-image{
	padding-right: 100px;
	padding-left: 55px;
	padding-top: 50px;
	padding-bottom: 50px;
}


@media only screen and (max-width: 750px) {
	.blog-grid{
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto;
		margin-bottom: 0px;
}



}



